@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', 'sans-serif';
}

:root {
    --primary-blue: #165487;
    --background-gray: #414143;
    --dark-gray-bg: #2E2E2E;
    --white: #FFFFFF;
}

body {
    background-color: var(--white);
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    height: 100vh;
}

#container .imagem-undraw img{
    height: 500px;
}

.calculadora {
    background-color: var(--dark-gray-bg);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    box-shadow: 2px 10px 10px rgba(22, 84, 135, 0.5);
}

.calculadora .form-title h1 {
    color: var(--white);
    font-size: 45px;
    text-transform: uppercase;
    position: relative;
}

.calculadora .form-title h1::after {
    position: absolute;
    content: '';
    background-color: var(--primary-blue);
    width: 150px;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 5px;
}

form .input-box {
    padding: 20px 0px;
}

form .input-box label,
form .input-box i,
form .input-box span {
    color: var(--white);
    font-size: 1.2rem;
}

form .input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #5b5b5e;
    padding: 15px 10px;
}

form .input-field input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: var(--white);
    padding: 10px;
    font-size: 1.2rem;
}

form .input-field input::-webkit-outer-spin-button,
form .input-field input::-webkit-inner-spin-button {
    display: none;
}

form .input-field input:focus {
    outline: none;
}

#button-calc {
    background-color: var(--primary-blue);
    color: var(--white);
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 30px;
}

#button-calc:hover{
    background-color: #0c60a5;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    gap: 50px;
}

.informacoes .imc .resultado-calculo-imc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.informacoes .imc .resultado-calculo-imc #number-imc {
    color: var(--primary-blue);
    font-size: 2.5rem;
    font-weight: bold;
}

#subtitle {
    color: var(--white);
    font-size: 16px;
}

#title-imc {
    color: var(--primary-blue);
    font-size: 16px;
    font-weight: bold;
}

.resultado-imc{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}

#descricao-imc{
    color: var(--white);
    font-size: 14px;
}

.hidden {
    display: none;
}